Template/index.html
Template/LICENSE.txt
Template/README.txt
Template/.vscode/settings.json
Template/assets/css/fontawesome-all.min.css
Template/assets/css/main.css
Template/assets/css/noscript.css
Template/assets/css/images/overlay1.png
Template/assets/css/images/overlay2.png
Template/assets/css/images/overlay3.svg
Template/assets/css/images/overlay4.svg
Template/assets/js/breakpoints.min.js
Template/assets/js/browser.min.js
Template/assets/js/jquery.min.js
Template/assets/js/jquery.scrolly.min.js
Template/assets/js/main.js
Template/assets/js/util.js
Template/assets/sass/main.scss
Template/assets/sass/noscript.scss
Template/assets/sass/libs/_breakpoints.scss
Template/assets/sass/libs/_functions.scss
Template/assets/sass/libs/_html-grid.scss
Template/assets/sass/libs/_mixins.scss
Template/assets/sass/libs/_vars.scss
Template/assets/sass/libs/_vendor.scss
Template/assets/webfonts/fa-brands-400.eot
Template/assets/webfonts/fa-brands-400.svg
Template/assets/webfonts/fa-brands-400.ttf
Template/assets/webfonts/fa-brands-400.woff
Template/assets/webfonts/fa-brands-400.woff2
Template/assets/webfonts/fa-regular-400.eot
Template/assets/webfonts/fa-regular-400.svg
Template/assets/webfonts/fa-regular-400.ttf
Template/assets/webfonts/fa-regular-400.woff
Template/assets/webfonts/fa-regular-400.woff2
Template/assets/webfonts/fa-solid-900.eot
Template/assets/webfonts/fa-solid-900.svg
Template/assets/webfonts/fa-solid-900.ttf
Template/assets/webfonts/fa-solid-900.woff
Template/assets/webfonts/fa-solid-900.woff2
Template/images/header.jpg
Template/images/pic01.jpg
Template/images/pic02.jpg
Template/images/pic03.jpg
Template/images/pic04.jpg
Template/images/pic05.jpg
Template/images/pic06.jpg
